<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fox.andrey.photogallery">

    <!--В этой разметке мы определяем собственное разрешение с уровнем защиты
    signature-->
    <permission android:name="com.fox.andrey.photogallery.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.fox.andrey.photogallery.PRIVATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhotoGalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- android:configChanges
        Атрибут сообщает, что в случае изменения конфигурации из-за открытия или закрытия клавиатуры,
        изменения ориентации или размеров экрана (которое также происходит при переключении между книжной
        и альбомной ориентацией в Android после версии 3.2) активность должна обрабатывать изменения самостоятельно.
         -->
        <activity
            android:name=".PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name=".PollService" />

        <!--
        Экспортирование открывает доступ к службе, а добавление разрешения снова
        ограничивает его, так что служба может запускаться только JobScheduler.
        -->
        <!--Регистрация автономного приемника -->
        <receiver android:name=".StartupReceiver">
            <!--будет прослушивать действие BOOT_COMPLETED-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--Чтобы NotificationReceiver получал рассылку после динамически зарегистрированного приемника
        (чтобы он мог проверить, нужно ли передавать оповещение NotificationManager),
         ему нужно назначить низкий приоритет –999 (значения –1000 и ниже зарезервированы).-->
        <receiver android:name=".NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action
                    android:name="com.bignerdranch.android.photogallery.SHOW_NOTIFICATION"
                    />
            </intent-filter>
        </receiver>
    </application>

</manifest>